aiofiles
aiogram
aiohttp
aiosignal
asgiref
asyncio
Django
frozenlist
fuzzywuzzy
matplotlib
pillow
pyTelegramBotAPI
python-dotenv
python-Levenshtein
pytz
python-dotenv
paramiko
uvicorn 
fastapi
psycopg2
psycopg2-binary